# Banco de Dados (PostgreSQL)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=price_monitor_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/price_monitor_db

# Cache e Filas (Redis)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379/0

# Segurança / JWT
SECRET_KEY=sua_chave_secreta_super_segura_aqui_para_desenvolvimento
ACCESS_TOKEN_EXPIRE_MINUTES=30
ALGORITHM=HS256